/* contact */
.content-contact{
    background-image:url('../../../../assets/media/bg_stars.png');
    position: relative;
    width:100%;
    padding-top: 50px;
    text-align: center;
    color: var(--white-color);
    display: flex;
    align-items: center;
    border-radius:0.5rem;
}
.content-contact::before{
    content: '';
    position: absolute;
    right:0;
    top: 0;
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-top: 35px solid var(--bg-primary);
    border-bottom:35px solid transparent;
    border-right:200px solid transparent;
}
.content-contact::after{
    content: ' ';
    position: absolute;
    left: 0;
    top: -3px;
    width: 0; 
    height: 0; 
    border-left: 200px solid transparent;
    border-top: 40px solid var(--bg-primary);
    border-bottom:40px solid transparent;
    border-right:200px solid transparent;
}
.content-contact h1{
    /* margin: 20px 0; */
    font-weight: bold;
    text-shadow: 0 0px 2px var(--text-primary);
    color: var(--text-secondary);
}
.content-contact p{
    font-size:1.2rem;
    font-weight: 600;
}
.content-contact .info{
    font-size: 1rem;
    font-weight:600;
    text-shadow: 0 0px 1px var(--text-primary);
    color: var(--text-secondary);
}
@media (max-width:800px){
    .content-contact::before{
        border-left: 50px solid transparent;
        border-right:50px solid transparent;
    }
    .content-contact::after{
        
        border-left: 50px solid transparent;
        border-right:50px solid transparent;
    }
}